
<div class="btn-group dropstart" >
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <strong>Your Cart</strong>
  </button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
<%= turbo_frame_tag "cart" do %>
<% if @cart.orders.count > 0 %>
  <li><a class="dropdown-item" href="#"><%= render 'cart/orders' %></a></li> 
  <li><a class="dropdown-item" href="#"><p><strong>Order Total:</strong> $<%= price_adjust(@cart.total) %>.00</a></p></li> 
  <li><a class="dropdown-item"><input type="submit" name="commit" value="Purchase" class="purchase" data-disable-with="Purchase"></a></li>
  <% else %>
  <li>  <p> No items in cart </p> <li> 
  <% end %>
<% end %>
  </ul>
</div>
</div>
</div>