#Stripe Checkout Notification
<% if params[:success] %>
<div class="notice mb-5" role="notice">
  Order Successful!
</div>
<% elsif params[:failed] %>
<div class="alert mb-5" role="alert">
  Something went wrong with your order.
</div>
<% end %>

<% if current_user %>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  div class="row">
   <div class="col g-lg-5 py-5">
    <h1 class="display-4 fw-bold lh-1 mb-3 text-center">Welcome To Amazoo</h1>
    <p class="display-8 fw-bold lh-1 mb-3 text-center">
      The High Maintainence Pet Of Your Dreams Is Only A Click Away.
    </p>
    </div>
  </div>
</div>
    <div class="container">
    <div class="row">
    <div class="col center" align="center">
    <%= link_to 'Our Animals', products_url, class: "col-lg-3 btn btn-success btn-lg btn-block", method: :get %> 
  </div>
  </div>
    </div>
    <section class="py-5 border-bottom bg-light fixed-bottom footer" id="features">
      <div class="container">
        <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="feature btn btn-default btn-block"><i class="bi bi-collection"></i></div>
          <h2 class="h4 fw-bolder">Secure Transactions</h2>
          <p> All of your money definitely goes somewhere.</p>
        </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="feature btn btn-default btn-block"><i class="bi bi-building"></i></div>
            <h2 class="h4 fw-bolder">Quality Guarantee </h2>
            <p>All pets are either brand new or slightly used.</p>
            </div>
          <div class="col-lg-4">
            <div class="feature btn btn-default btn-block"><i class="bi bi-toggles2"></i></div>
            <h2 class="h4 fw-bolder">24/7 Customer Support</h2>
            <p>Available 9AM - 12PM GMT</p>
          </div>
        </div>
      </div>
   </section>
    
    <% else %> 
    <header class="bg-transparent py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-black mb-2">Welcome To Amazoo</h1>
                    <h2 class="lead text-black-80 mb-4">The High Maintainence Pet Of Your Dreams Is Only A Click Away</h2>
                  </div>
                </div>
            </div>
        </div>
    <div class="container">
      <div class="row">
        <div class="col" align="center">
          <%= link_to 'Create An Account', new_user_registration_path, class: "col-lg-3 btn btn-success btn-lg btn-block", method: :get %> 
        </div>
      </div>
    </div>
          <% end %>
          <section class="py-5 border-bottom bg-light fixed-bottom footer" id="features">
            <div class="container">
                 <div class="row gx-5">
                     <div class="col-lg-4 mb-5 mb-lg-0">
                         <div class="feature btn btn-default btn-block"><i class="bi bi-collection"></i></div>
                         <h2 class="h4 fw-bolder">Secure Transactions</h2>
                         <p> All of your money definitely goes somewhere.</p>
                     </div>
 
                     <div class="col-lg-4 mb-5 mb-lg-0">
                         <div class="feature btn btn-default btn-block"><i class="bi bi-building"></i></div>
                         <h2 class="h4 fw-bolder">Quality Guarantee </h2>
                         <p>All pets are either brand new or slightly used.</p>
                     </div>
 
                     <div class="col-lg-4">
                         <div class="feature btn btn-default btn-block"><i class="bi bi-toggles2"></i></div>
                         <h2 class="h4 fw-bolder">24/7 Customer Support</h2>
                         <p>Available 9AM - 12PM GMT</p>
                     </div>
                     </div>
                     </div>
         </section>
  </div>
</div>
