
<div class="container top-pad">
  <div id="products">
    <div class="container">
    <div class="row"">
    <% @products.each do |product| %>
      <div class="col d-flex justify-content-center top-pad">
    <%= render product %>
    </div>
    <% end %>
</div>
</div>
</div>
</div>
<% if current_user %>
  <% if current_user.admin? %>
    <%= link_to "New product", new_product_path, class:"btn btn-secondary" %>
  <% end %>
<% end %>

