<p style="color: green"><%= notice %></p>
<h1>Products</h1>
  <div id="products">
    <div class="container">
    <div class="row justify-content-md-center"">
    <% @products.each do |product| %>
      <div class="col">
    <%= render product %> 
  </div>
    <% end %>
</div>
</div>
</div>
<%= link_to "New product", new_product_path %>
