<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <% if current_user %>
    <%= link_to "Amazoo", root_path, class: 'navbar-brand' %>
    <% else %>
    <%= link_to "Amazoo", new_user_registration_path, class: 'navbar-brand' %>
    <% end %>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= render 'user/session_manager' %>
      </ul>
      <div class="container d-flex justify-content-center">
        <form class="d-flex col-sm-10 justify-content-center">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <%= render partial: 'cart/cart' if @render_cart %>
      </div>
    </div>
  </div>
</nav>
